<a href="https://colab.research.google.com/github/KhuzaimaHassan/IT-Training/blob/main/2nd-Class/2nd__Class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
if True:
  print('Hello')

Hello

In [ ]:
name='Khuzaima'
age=20
pi=3.1428
print('Name: ', name)
print('Age: ',age)
print('PI: ', pi)

Name:  Khuzaima
Age:  20
PI:  3.1428

In [ ]:
username=input('Enter username: ')
password=input('Enter password: ')
age=int(input('Enter age: '))
print('Age: ', age)
print('Username: ', username)
print('Password: ', password)

Enter username: Khuzaima
Enter password: 2004
Enter age: 20
Age:  20
Username:  Khuzaima
Password:  2004

In [ ]:
x=10
y=1.10
z=2+3j

print('Complex Numbers: ',z)
print('Real Part: ',z.real)
print('Imaginary Part: ',z.imag)

Complex Numbers:  (2+3j)
Real Part:  2.0
Imaginary Part:  3.0

In [ ]:
text="Hello,Python!"
print('first character: ',text[0])
print('last character: ',text[-1])

word='Hello'+'World'
print(word)

print('Hello '*3)

replace=text.replace('!','?')
print(replace)

print('lowecase: ',text.lower())
print('uppercase: ',text.upper())

first character:  H
last character:  !
HelloWorld
Hello Hello Hello
Hello,Python?
lowecase:  hello,python!
uppercase:  HELLO,PYTHON!

In [ ]:
list=[1,2,3,4,5]
print('List: ',list)
list.append(6)
print('List: ',list)
list.pop()
print('List: ',list)
print(list[:3])

List:  [1, 2, 3, 4, 5]
List:  [1, 2, 3, 4, 5, 6]
List:  [1, 2, 3, 4, 5]
[1, 2, 3]

In [ ]:
coordinates=(10,20,30)
print('Coordinates: ',coordinates[-1])

Coordinates:  30

In [ ]:
unique_numbers={1,2,3,4,5}
print('Unique Numbers: ',unique_numbers)
unique_numbers.add(6)
print('Unique Numbers: ',unique_numbers)
unique_numbers.remove(1)
print('Unique Numbers: ',unique_numbers)
unique_numbers.add(2)
print('Unique Numbers: ',unique_numbers)

Unique Numbers:  {1, 2, 3, 4, 5}
Unique Numbers:  {1, 2, 3, 4, 5, 6}
Unique Numbers:  {2, 3, 4, 5, 6}
Unique Numbers:  {2, 3, 4, 5, 6}

In [ ]:
student={
    'name':'Khuzaima',
    'age':20,
    'grade':'A+'
}
print('Name: ',student['name'])
print('Age: ',student['age'])
print('Grade: ',student['grade'])
student['Subject']='Python'
print('Subject: ',student['Subject'])

Name:  Khuzaima
Age:  20
Grade:  A+
Subject:  Python

In [ ]:
num1=10
num2=2.2
print('Addition: ',num1+num2)
print('Subtraction: ',num1-num2)
print('Multiplication: ',num1*num2)
print('Division: ',num1/num2)
print('Floor Division: ',num1//num2)
print('Modulus: ',round(num1%num2,2))
print('Exponent: ',round(num1**num2,2))

Addition:  12.2
Subtraction:  7.8
Multiplication:  22.0
Division:  4.545454545454545
Floor Division:  4.0
Modulus:  1.2
Exponent:  158.49

In [ ]:
num_str='10'
num_float=10.1
result=int(num_str)+num_float
print('Result: ',result)

Result:  20.1

In [ ]:
p=True
q=False
print('And ',p and q)
print('Or ',p or q)
print('Not ',not p)

And  False
Or  True
Not  False

In [ ]:
x=6
y=3
print('Bitwise AND:',x&y)
print('Bitwise OR:',x|y)
print('Bitwise XOR:',x^y)
print('Bitwise NOT:',~x)
print('Left Shift:',x<<2)
print('Right Shift:',x>>2)

Bitwise AND: 2
Bitwise OR: 7
Bitwise XOR: 5
Bitwise NOT: -7
Left Shift: 24
Right Shift: 1

In [ ]:
numbers=[1,2,3,4,5]
print(len(numbers))

5

In [ ]:
text='Python is fun'
words=text.split()
print(words)

csv='Name,Age,Grade'
csv_list=csv.split(',')
print(csv_list)

['Python', 'is', 'fun']
['Name', 'Age', 'Grade']

In [ ]:
import random
random_number=random.randint(1,10)
print('Random Number: ',random_number)

Random Number:  6