<a href="https://colab.research.google.com/github/KhuzaimaHassan/IT-Training/blob/main/3rd-Class/3rd_Class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
age=16
if age>=18:
    print("you are eligible to vote")
else:
    print("you are not eligible to vote")

you are not eligible to vote

In [ ]:
num=4
if num%2==0:
    print("number is even")
else:
    print("number is odd")

number is even

In [ ]:
marks=75
if marks>=90:
    print("grade A+")
elif marks>=80:
    print("grade A")
elif marks>=70:
    print("grade B")
elif marks<50:
    print("fail")

else:
    print("grade C")

grade B

In [ ]:
num=15
if num>10:
   print("number is greater than 10")
   if num%2==0:
       print("number is even")
   else:
       print("number is odd")

number is greater than 10
number is odd

In [ ]:
is_adult=True
has_voter_id=False
if is_adult and has_voter_id:
    print("you are eligible to vote")
else:
    print("you are not eligible to vote")

you are not eligible to vote

In [ ]:
age=20
message='Adult' if age>=18 else 'Minor'

print(message)

Adult

In [ ]:
color='red'
match color:
  case 'red':
    print('Stop')
  case 'yellow':
    print('Slow')
  case 'green':
    print('Go')
  case _:
    print('Invalid color')

Stop

In [ ]:
fruits=['apple','banana','cherry']
for fruit in fruits:
    print(fruit)
for char in 'Python':
    print(char)

apple
banana
cherry
P
y
t
h
o
n

In [ ]:
person={'name':'John','age':25,'city':'New York','gender':'female'}
for key,value in person.items():
    print(f"{key}: {value}")

name: John
age: 25
city: New York
gender: female

In [ ]:
for i in range(5):
  print(i)
for i in range(1,10,2):
  print(i)

0
1
2
3
4
1
3
5
7
9

In [ ]:
count=0
while count<5:
  print(f"count: {count}")
  count+=1
  print(f"After Count: {count}")

count: 0
After Count: 1
count: 1
After Count: 2
count: 2
After Count: 3
count: 3
After Count: 4
count: 4
After Count: 5

In [ ]:
while True:
  user_input=input("Enter a number (or 'q' to quit):")
  if user_input=='q':
    print("quitting the loop")
    break

Enter a number (or 'q' to quit):1
Enter a number (or 'q' to quit):2
Enter a number (or 'q' to quit):r
Enter a number (or 'q' to quit):q
quitting the loop

In [ ]:
for i in range(10):
  if i==5:
    print("Breaking the loop")
    break
  print(i)

for i in range(10):
  if i%2!=0:
    continue
  print(i)

0
1
2
3
4
Breaking the loop
0
2
4
6
8

In [ ]:
for i in range(5):
  print(f'Processing {i}')
for i in range(5):
  if i==3:
    pass
    print(f'Processing {i}')

Processing 0
Processing 1
Processing 2
Processing 3
Processing 4
Processing 3

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    print(f'{i}x{j}={i*j}')
  print()

1x1=1
1x2=2
1x3=3
1x4=4
1x5=5

2x1=2
2x2=4
2x3=6
2x4=8
2x5=10

3x1=3
3x2=6
3x3=9
3x4=12
3x5=15

4x1=4
4x2=8
4x3=12
4x4=16
4x5=20

5x1=5
5x2=10
5x3=15
5x4=20
5x5=25

In [ ]:
for num in range(5):
  print(num)
else:
  print("Loop completed successfully")

0
1
2
3
4
Loop completed successfully

In [ ]:
for num in range(5):
  if num==3:
    print("Breaking the loop")
    break
  print(num)
else:
  print("Loop completed without printing this")

0
1
2
Breaking the loop

In [ ]:
nums=[1,2,3,4,5]
search=5
for num in nums:
  if num==search:
    print(f'{search} found in the list')
    break
else:
  print(f'{search} not found in the list')

5 found in the list

In [ ]:
def greet():
  print("hello")

def greet_user(name):
  print(f'Hello, {name}!')

greet()
greet_user('John')

hello
Hello, John!

In [ ]:
def add(a,b):
  return a+b
result=add(3,4)
print(result)

def display_info(name,age):
  print(f'Name: {name}')
  print(f'Age: {age}')
display_info(age=25,name='John')

7
Name: John
Age: 25

In [ ]:
def calculate(a,b):
  return a+b,a-b
sum,difference=calculate(5,3)
print(f'Sum: {sum}')
print(f'Difference: {difference}')

Sum: 8
Difference: 2

In [ ]:
def greet(name='Guest'):
  print(f'Hello, {name}!')
greet()
greet('Khuzaima')
greet(name='Khuzaima')

Hello, Guest!
Hello, Khuzaima!
Hello, Khuzaima!

In [ ]:
def print_args(*args):
  for arg in args:
    print(arg)
print_args(1,2,3,'hello')

1
2
3
hello

In [ ]:
def print_kwargs(**kwargs):
  for key,value in kwargs.items():
    print(f'{key}: {value}')
print_kwargs(name='John',age=25)

name: John
age: 25

In [ ]:
square=lambda x:x**2
result=square(5)
print(result)

25